:root {
  --text: hsl(218, 11%, 100%);
  --text-m: hsl(218, 11%, 40%);
  --text-h: #f3f4f6;
  --bg: #16171d;
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --button-bg: rgba(192, 132, 252, 0.05);
  --accent-border: rgba(192, 132, 252, 0.5);
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg);
  overflow: hidden;
  font-family:
    "JetBrains Mono", "Fira Code", ui-monospace, SFMono-Regular, Menlo,
    Consolas, monospace;
  width: 100vw;
  height: 100vh;
}
